 
            <div class="row" style="margin-top: 200px">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <mat-card>
                        <div class="main-content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header card-header-danger">
                                                <h4 class="card-title">Retrait</h4>
                                            </div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="row">
                                                
                                                        <div class="col-md-6">
                                                            <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Montent" formControlName="custName">
                                                            </mat-form-field>
                                                        </div>
                                                    
                                                    </div>
                                                
                                                    
                                                    <button mat-raised-button type="submit" class="btn btn-danger pull-right">Effectuer</button>
                                                    <div class="clearfix"></div> 
                                                </form>
                                            </div>
                                        </div>
                                    </div> 
                        
                    

                
                <div class="col-sm-4"></div>
              </div>
              