<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Liste Des Cartes</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      #
                                  </th>
                                  <th>
                                      #
                                  </th>
                                 
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td class="text-primary">
                                          $36,738
                                      </td>
                                  </tr>
   
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger" style="color: rgba(24, 228, 228, 0.616);">
                      <h4 class="card-title mt-0"> Liste des Comptes</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Status
                                  </th>
                                  <th>
                                      Balance
                                  </th>
                                 
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Active
                                      </td>
                                      <td>
                                          89,000.
                                      </td>
                                     
                                  </tr>
                                 
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-danger" style="color: rgba(24, 228, 228, 0.616);">
                    <h4 class="card-title mt-0">Liste des Transactions</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="">
                                <th>
                                    ID Compte
                                </th>
                                <th>
                                    Finale_Balance
                                </th>
                                <th>
                                    Initial_Balance
                                </th>
                                <th>
                                    Statut_Transaction
                                </th>

                                <th>
                                    Type_Transaction
                                </th>
                               
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1687899
                                    </td>
                                    <td>
                                        8,907,000
                                    </td>
                                    <td>
                                        7,889,000.
                                    </td>
                                    <td>
                                        Succes
                                    </td>
                                    <td>
                                    Transfert
                                    </td>
                                   
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
